name: CI - Rick & Morty DevOps

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build-deploy-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: |
          docker build -t rick-morty:1.0 .

      - name: Create KinD cluster
        uses: helm/kind-action@v1
        with:
          cluster_name: rick-morty-ci

      - name: Load image into KinD
        run: |
          kind load docker-image rick-morty:1.0 --name rick-morty-ci

      - name: Install NGINX Ingress
        run: |
          kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/main/deploy/static/provider/kind/deploy.yaml
          kubectl wait -n ingress-nginx \
            --for=condition=ready pod \
            --selector=app.kubernetes.io/component=controller \
            --timeout=180s

      - name: Deploy with Helm
        run: |
          helm install rick-morty ./helm/rick-morty

      - name: Wait for rollout
        run: |
          kubectl rollout status deployment/rick-morty --timeout=180s

      - name: Test healthcheck
        run: |
          kubectl port-forward svc/rick-morty 8080:80 &
          sleep 5
          curl http://localhost:8080/healthcheck

      - name: Test characters endpoint
        run: |
          curl http://localhost:8080/characters | grep Rick
